extends list

block list-item
	div
		p.list-item-link
			a(href="hn/#{post.id}", data-src="#{post.url}") #{post.title}
		p.list-item-meta Posted by <a href="https://news.ycombinator.com/user?id=#{post.postedBy}">#{post.postedBy}</a>